.time-info {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  &__icon--pause {
    fill: rgba(249, 60, 101, 0.9);
    width: 12px;
    margin-right: 16px;
    &.true {
      display: none;
    }
  }
  &__icon--time {
    fill: rgba(21, 19, 40, 0.8);
    width: 18px;
    margin-right: 16px;
  }
  &__title {
    user-select: none;
    font-size: 24px;
  }
}

.dark {
  & .time-info {
    &__icon--pause {
      fill: rgba(249, 60, 101, 0.9);
    }
    &__icon--time {
      fill: rgba(244, 244, 244, 0.9);
    }
  }
}
