@import './components/Header/header.scss';
@import './components/App/app.scss';
@import './components/SelectionSize/selection-size.scss';
@import './components/Board/board.scss';
@import './components/Tiles/tiles.scss';

body{
  margin: 0;
  padding: 0;
  background-color: #F6F7F9;
  color: #151328;
  font-family: Neuron;
}