.selection-size {
  &__title {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
  }
  &__button--wrap {
    display: flex;
    :first-child{
      margin-left: 0;
    }
  }
  &__button--active {
    padding: 0;
    background-color: #fff;
    font-size: 20px;
    color: #F93C65;
    font-family: Neuron;
    margin: 8px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    outline-color: #F93C65;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.1);
  }
  &__button {
    padding: 0;
    background-color: #F6F7F9;
    font-size: 20px;
    color: #151328;
    font-family: Neuron;
    margin: 8px;
    width: 32px;
    height: 32px;
    border: none;
    outline-color: #F93C65;
  }
}
