.tiles {
  box-sizing: border-box;
  background-color: #fff;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    padding-top: 100%;
  }
  &--9 {
    width: 30%;
    font-size: 64px;
  }
  &--16 {
    width: 22%;
    font-size: 48px;
  }
  &--25 {
    width: 17%;
    font-size: 36px;
  }
  &--none {
    background-color: #f6f7f9;
    box-shadow: none;
  }
}
